
html, body {
	background-color: #f7f7f7;
	font-family: 'Lato', Calibri, Arial, sans-serif;
}
.arduino-header {
	margin: 20px 25px 3em;
}
.arduino-header img {
	position: absolute;
	width: 120px;
	height: auto;
}
.arduino-header h5 {
	position: absolute;
	margin: 1.5em 2.5em;
	font-size: 32px;
	font-weight: 700;
}
.arduino-header span {
	position: absolute;
	margin: 4.3em 9em;
	font-size: 17px;
	font-weight: 600;
}
.arduino-body {
	position: absolute;
	margin: 12em -6em;
}
.arduino-body .tbl-header {
	margin-bottom: 15px;
	font-size: 23px;
	font-weight: 500;
}
.arduino-body table {
	width: 600px;
	background-color: #ffffff;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}
.arduino-switch {
    position: absolute;
    margin-top: 9em;
    left: 58%;
    font-size: 20px;
    font-weight: 500;
}
.arduino-switch table {
	width: 400px;
}
.arduino-right-img {
    position: absolute;
    top: 54%;
    left: 82%;
}
.arduino-right-img img {
    width: 280px;
    height: auto;
}

footer {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 60px;
  background-color: #f7f7f7;
  color:#000;
  line-height: 60px;
}
footer a {
  color: #f4511e;
}
.footer-copyright {
  border-top: 2px solid #DCDCDC;
  background-color: #fff;
}
.switch label input[type=checkbox]:checked + .lever {
  background-color: #A5D6A7;
}

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #81C784;
  left: 24px;
}