@font-face{
  font-family: 'LazenbyCompSmooth';
  src: url('../fonts/lazenby_computer/LazenbyCompSmooth.ttf') format('truetype');
}
html, body {
  background: url(../img/background.png) no-repeat;
  background-size: cover;
  font-family: 'Lato', Calibri, Arial, sans-serif;
}
.container .row .col-sm-6{
  background: url(../img/layout.png) no-repeat;
  background-size: cover;
}
.form-group{
  margin: 0 auto;
}
.logo i img {
  max-width: 50px;
  max-height: 50px;
}
.col-sm-4{
  background-color: #1190e5;
}
 .row{
  font-size: 22px;
}
footer{
  background-color: #1190e5; 
  bottom: 0;
  width: 100%;
}
.form-group{
  margin:7px auto;
}
h4 i img{
  max-width: 70px;
  max-height: 70px;
}
h4{
  font-size:35px; 
}
button {
  width: 200px;
}
header h3 {
  font-family:'LazenbyCompSmooth', sans-serif;
  color: #1190e7; 
}
footer{
  position: fixed;
  width: 100%;
  bottom: 0;
}
footer .row {
  float: none;
  margin:0 auto;
  color: #ffffff;
}
footer .row .col-sm-8 h6 {
  text-decoration: none;
}
footer .row .col-sm-8 h6 a {
  text-decoration: none;
  color: #ffffff;
}
footer .col-sm-4 img {
  max-width: 40%;
  max-height: 20%;
  margin:0 auto;
}
button {
  
}
