@media only screen and (max-width: 560px) {
	h4 i img{
		width: 40px;
		height: 40px;
	}
	.container-fluid .row .col-sm-8{
		float: center;
		margin:3px auto;
	}
	.container-fluid .row .col-sm-4{
		margin-left: 15px;
	}
	.container-fluid h4 {
		font-size: 22px;
	}
	.logo i img{
		width: 25px;
		height: 25px;
	}
	.col-sm-8{
		font-size: 15px;
	}
	.col-sm-4{
		font-size: 15px;
	}
	.container-fluid .form-inline .form-group{
		margin:0 auto;
		padding: 0px 5px;
	}
	.container-fluid .form-inline .form-group h5{
		font-size: 15px;
	}

}

@media (min-width: 561px) and (max-width: 650px) {
	.container-fluid .form-inline .form-group{
		margin:0 auto;
		padding: 0px 10px;
	}
}

@media (min-width: 561px) and (max-width: 750px) {
	h4 i img{
		width: 33px;
		height: 33px;
	}
	.container-fluid h4 {
		font-size: 24px;
	}
	.col-sm-8{
		font-size: 13px;
	}
	.col-sm-4{
		font-size: 13px;
	}
	.logo i img{
		width: 25px;
		height: 25px;
	}
	.container-fluid .form-inline .form-group h5{
		font-size: 15px;
	}
	.container-fluid .form-inline .form-group{
		margin:0 auto;
		padding: 0px 5px;
	}
}

@media (min-width: 747px) and (max-width: 800px) {
	h4 i img{
		width: 33px;
		height: 33px;
	}
	.container-fluid h4 {
		font-size: 24px;
	}
	.col-sm-8{
		font-size: 13px;
	}
	.col-sm-4{
		font-size: 13px;
	}
	.logo i img{
		width: 25px;
		height: 25px;
	}
	.container-fluid .form-inline .form-group h5{
		font-size: 15px;
	}
}

@media (min-width: 801px) and (max-width: 1024px) {
	h4 i img{
		width: 35px;
		height: 35px;
	}
	.container-fluid h4 {
		font-size: 25px;
	}
	.col-sm-8{
		font-size: 15px;
	}
	.col-sm-4{
		font-size: 15px;
	}
	.logo i img{
		width: 27px;
		height: 27px;
	}
	.container-fluid .form-inline .form-group h5{
		font-size: 17px;
	}
}

@media (min-width: 1025px) and (max-width: 1250px) {
	h4 i img{
		width: 35px;
		height: 35px;
	}
	.container-fluid h4 {
		font-size: 25px;
	}
	.col-sm-8{
		font-size: 16px;
	}
	.col-sm-4{
		font-size: 16px;
	}
	.logo i img{
		width: 27px;
		height: 27px;
	}
	.container-fluid .form-inline .form-group h5{
		font-size: 17px;
	}
}

@media (min-width: 1251px) and (max-width: 1366px) {
	h4 i img{
		width: 43px;
		height: 43px;
	}
	.container-fluid h4 {
		font-size: 33px;
	}
	.col-sm-8{
		font-size: 20px;
	}
	.col-sm-4{
		font-size: 20px;
	}
	.logo i img{
		width: 34px;
		height: 34px;
	}
	.container-fluid .form-inline .form-group h5{
		font-size: 24px;
	}
}
