@media only screen and (max-width: 480px) {
	h4 i img{
		width: 40px;
		height: 40px;
	}
	.container-fluid .row .col-sm-8{
		float: center;
		margin:3px auto;
	}
	.container-fluid .row .col-sm-4{
		margin-left: 7px;
	}
	.container-fluid h4 {
		font-size: 22px;
	}
	.logo i img{
		width: 25px;
		height: 25px;
	}
	.col-sm-8{
		font-size: 15px;
	}
	.col-sm-4{
		font-size: 15px;
	}

}