@media only screen and (max-width: 345px) {
	header .col-sm-12 {
		font-size:28px;
	}
	header h3 {
		text-align: center;
		font-size:28px;
		margin: 0 auto;
	}
	header h3 img{
		width: 20%;
		height: 20%;
	}
	h4 i img{
		width: 40px;
		height: 40px;
	}
	.container-fluid .row .col-sm-8{
		float: center;
		margin:3px auto;
	}
	.container-fluid .row .col-sm-4{
		margin-left: 15px;
	}
	.container-fluid h4 {
		font-size: 22px;
	}
	.logo i img{
		width: 25px;
		height: 25px;
	}
	.col-sm-8{
		font-size: 15px;
	}
	.col-sm-4{
		font-size: 15px;
	}
	.container-fluid .form-inline .form-group{
		margin:0 auto;
		padding: 0px 5px;
	}
	.container-fluid .form-inline .form-group h5{
		font-size: 15px;
	}
	footer .row .col-sm-8 h6{
		margin: 2% 5%;
	}
	footer .row .col-sm-4 h5{
		font-size: 20px;
		float: none;
		margin:0 18% 2% 18%;
	}
	footer .col-sm-4 img{
		width: 30%;
		height: 15%;
	}

}

@media (min-width:346px ) and (max-width: 560px) {
	header h3 {
		text-align: center;
		font-size:33px;
		margin: 0 auto;
	}
	header h3 img{
		max-width: 16%;
		max-height: 16%;
	}
	h4 i img{
		width: 40px;
		height: 40px;
	}
	.container-fluid .row .col-sm-8{
		float: center;
		margin:3px auto;
	}
	.container-fluid .row .col-sm-4{
		margin-left: 15px;
	}
	.container-fluid h4 {
		font-size: 22px;
	}
	.logo i img{
		width: 25px;
		height: 25px;
	}
	.col-sm-8{
		font-size: 15px;
	}
	.col-sm-4{
		font-size: 15px;
	}
	.container-fluid .form-inline .form-group{
		margin:0 auto;
		padding: 0px 5px;
	}
	.container-fluid .form-inline .form-group h5{
		font-size: 15px;
	}
	footer .row .col-sm-8 h6{
		margin: 2% 10%;
	}
	footer .row .col-sm-4 h5{
		font-size: 20px;
		float: none;
		margin: 0 20% 2% 20%;
	}
	footer .col-sm-4 img{
		width: 30%;
		height: 15%;
	}

}

@media (min-width: 561px) and (max-width: 650px) {
	.container-fluid .form-inline .form-group{
		margin:0 auto;
		padding: 0px 10px;
	}
	footer .row .col-sm-8 h6{
		margin: 2% auto;
	}
	footer .row .col-sm-4 h5{
		font-size: 20px;
		float: none;
		margin:auto;
	}
	footer .col-sm-4 img{
		width: 20%;
		height: 10%;
	}
}

@media (min-width: 561px) and (max-width: 750px) {
	h4 i img{
		width: 33px;
		height: 33px;
	}
	.container-fluid h4 {
		font-size: 24px;
	}
	.col-sm-8{
		font-size: 13px;
	}
	.col-sm-4{
		font-size: 13px;
	}
	.logo i img{
		width: 25px;
		height: 25px;
	}
	.container-fluid .form-inline .form-group h5{
		font-size: 15px;
	}
	.container-fluid .form-inline .form-group{
		margin:0 auto;
		padding: 0px 5px;
	}
	footer .col-sm-4 img{
		width: 20%;
		height: 10%;
	}
}

@media (min-width: 747px) and (max-width: 800px) {
	h4 i img{
		width: 33px;
		height: 33px;
	}
	.container-fluid h4 {
		font-size: 24px;
	}
	.col-sm-8{
		font-size: 13px;
	}
	.col-sm-4{
		font-size: 13px;
	}
	.logo i img{
		width: 25px;
		height: 25px;
	}
	.container-fluid .form-inline .form-group h5{
		font-size: 15px;
	}
	footer .row .col-sm-8 h6{
		margin: 2% auto;
	}
	footer .row .col-sm-4 h5{
		font-size: 20px;
		float: none;
		margin: 2% auto;
	}
	footer .col-sm-4 img{
		width: 30%;
		height: 15%;
	}

}

@media (min-width: 801px) and (max-width: 1024px) {
	h4 i img{
		width: 35px;
		height: 35px;
	}
	.container-fluid h4 {
		font-size: 25px;
	}
	.col-sm-8{
		font-size: 15px;
	}
	.col-sm-4{
		font-size: 15px;
	}
	.logo i img{
		width: 27px;
		height: 27px;
	}
	.container-fluid .form-inline .form-group h5{
		font-size: 17px;
	}
	footer .row .col-sm-8 h6{
		margin: 2% auto;
	}
	footer .row .col-sm-4 h5{
		font-size: 20px;
		float: none;
		margin:auto;
	}
	footer .col-sm-4 img{
		width: 20%;
		height: 10%;
	}
}

@media (min-width: 1025px) and (max-width: 1250px) {
	h4 i img{
		width: 35px;
		height: 35px;
	}
	.container-fluid h4 {
		font-size: 25px;
	}
	.col-sm-8{
		font-size: 16px;
	}
	.col-sm-4{
		font-size: 16px;
	}
	.logo i img{
		width: 27px;
		height: 27px;
	}
	.container-fluid .form-inline .form-group h5{
		font-size: 17px;
	}
	footer .row .col-sm-8 h6{
		margin: 2% auto;
	}
	footer .row .col-sm-4 {
		text-align: right;
	}
	footer .row .col-sm-4 h5{
		font-size: 20px;
		margin:auto;
	}
	footer .col-sm-4 img{
		width: 20%;
		height: 10%;
	}
}

@media (min-width: 1251px) and (max-width: 1366px) {
	h4 i img{
		width: 43px;
		height: 43px;
	}
	.container-fluid h4 {
		font-size: 33px;
	}
	.col-sm-8{
		font-size: 20px;
	}
	.col-sm-4{
		font-size: 20px;
	}
	.logo i img{
		width: 34px;
		height: 34px;
	}
	.container-fluid .form-inline .form-group h5{
		font-size: 24px;
	}
	footer .row .col-sm-8 h6{
		margin: 2% auto;
	}
	footer .row .col-sm-4{
		text-align: right;
	}
	footer .row .col-sm-4 h5{
		font-size: 25px;
		float: right;
	}
	footer .col-sm-4 img{
		width: 30%;
		height: 15%;
	}
}
@media (min-width: 1367px){
	h4 i img{
		width: 43px;
		height: 43px;
	}
	.container-fluid h4 {
		font-size: 33px;
	}
	.col-sm-8{
		font-size: 20px;
	}
	.col-sm-4{
		font-size: 20px;
	}
	.logo i img{
		width: 34px;
		height: 34px;
	}
	.container-fluid .form-inline .form-group h5{
		font-size: 24px;
	}
	.col-sm-6 .container-fluid .form-inline .form-group{
		margin:auto 5%;
	}
	footer .row .col-sm-8 h6{
		margin: 2% auto;
		font-size: 20px;
	}
	footer .row .col-sm-4{
		text-align: right;
	}
	footer .row .col-sm-4 h5{
		font-size: 25px;
		float: right;
		margin: 3% auto;
	}
	footer .col-sm-4 img{
		width: 40%;
		height: 20%;
	}

}
